@model TeliaMVC.Models.Client

@{
    ViewBag.Title = "Create client";
    if (Session["Id"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}



<style>
    .Label {
        color: black;
        font-size: medium;
        font-weight: bold;
    }
    .ButtonEdit {
        background-color: darkblue;
        font-size: larger;
        font-weight: bold;
        color: white;
        padding: 10px 15px;
        border-radius: 16px;
        border-color: transparent;
        text-shadow: 1px 1px black;
        box-shadow: 0 8px 14px 0 rgba(0,0,0,0.24), 0 13px 30px 0 rgba(0,0,0,0.19);
    }
        .ButtonEdit:hover {
            color: white;
            background-color: blue;
            box-shadow: 0 13px 18px 0 rgb(30, 20, 210), 0 16px 45px 0 rgba(0,0,0,0.21);
        }
        .ButtonEdit:active {
            transform: translateY(+2px);
            background-color: darkblue;
        }
    .ButtonBack {
        background-color: darkred;
        font-size: larger;
        font-weight: bold;
        color: white;
        padding: 10px 15px;
        border-radius: 16px;
        border-color: transparent;
        text-shadow: 1px 1px black;
        box-shadow: 0 8px 14px 0 rgba(0,0,0,0.24), 0 13px 30px 0 rgba(0,0,0,0.19);
    }

        .ButtonBack:hover {
            color: white;
            background-color: red;
            box-shadow: 0 13px 18px 0 rgb(200, 0, 0), 0 16px 45px 0 rgba(0,0,0,0.19);
        }

        .ButtonBack:active {
            transform: translateY(+2px);
            background-color: darkred;
        }
    .SelectBox {
        color: black;
        font-size: medium;
        font-weight: bold;
        margin-right: 2px;
        margin-bottom: 2px;
        border-radius: 16px;
        outline-offset: 4px;
        border: 1px solid transparent;
        cursor: pointer;
        box-shadow: 0 8px 14px 0 rgba(0,0,0,0.24), 0 13px 30px 0 rgba(0,0,0,0.19);
    }
    .textboxPink {
        color: black;
        font-size: medium;
        font-weight: bold;
        margin-right: 2px;
        margin-bottom: 2px;
        box-shadow: 0 8px 9px 0 rgba(0,0,0,0.24), 0 8px 20px 0 rgba(0,0,0,0.19);
    }

    textbox:hover {
        border: 1px solid #ffe6ff;
    }
</style>
<h1>New</h1>
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Orgnummer, htmlAttributes: new { @class = "control-label Label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Orgnummer, new { htmlAttributes = new { @class = "form-control textboxPink" } })
            @Html.ValidationMessageFor(model => model.Orgnummer, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label Label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control textboxPink" } })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group" style="display:none;">
        <div class="col-md-10">
            @Html.EditorFor(model => model.Id_abonementype, new { htmlAttributes = new { @class = "form-control LoadTextbox", @Value = 1 } })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model=>model.Abonementype, htmlAttributes: new { @class = "control-label Label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("selected", new SelectList(ViewBag.Abonementypes), new { @class = "form-control SelectBox" });
            @Html.ValidationMessageFor(model => model.Abonementype, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button class="ButtonBack" onclick="location.href = '@Url.Action("Index", "Home")';return false;"> Back</button>
            <input type="submit" value="Save" class="ButtonEdit" />
        </div>
    </div>
</div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


