@model TeliaMVC.Models.Client

@{
    ViewBag.Title = "Delete";
    if (Session["Id"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}

<style>
    .hrClass {
        border: 0;
        height: 3px;
        background-image: linear-gradient(to right, azure,pink, purple, pink,azure);
        box-shadow: 0 10px 10px -10px purple inset;
    }
    .ButtonBack {
        background-color: darkred;
        font-size: larger;
        font-weight: bold;
        color: white;
        margin-left: 65px;
        padding: 10px 15px;
        border-radius: 16px;
        border-color: transparent;
        text-shadow: 1px 1px black;
        box-shadow: 0 8px 14px 0 rgba(0,0,0,0.24), 0 13px 30px 0 rgba(0,0,0,0.19);
    }

        .ButtonBack:hover {
            color: white;
            background-color: red;
            box-shadow: 0 13px 18px 0 rgb(200, 0, 0), 0 16px 45px 0 rgba(0,0,0,0.19);
        }

        .ButtonBack:active {
            transform: translateY(+2px);
            background-color: darkred;
        }


    .ButtonEdit {
        background-color: darkblue;
        font-size: larger;
        font-weight: bold;
        color: white;
        padding: 10px 15px;
        border-radius: 16px;
        border-color: transparent;
        text-shadow: 1px 1px black;
        box-shadow: 0 8px 14px 0 rgba(0,0,0,0.24), 0 13px 30px 0 rgba(0,0,0,0.19);
    }

        .ButtonEdit:hover {
            color: white;
            background-color: blue;
            box-shadow: 0 13px 18px 0 rgb(30, 20, 210), 0 16px 45px 0 rgba(0,0,0,0.21);
        }

        .ButtonEdit:active {
            transform: translateY(+2px);
            background-color: darkblue;
        }
    .ContainerGreen {
        background-color: #b3ffa8;
        box-shadow: 2px 2px 1px 3px #b3ffb3;
        border-radius: 11px;
        margin-bottom: 15px;
    }
</style>
<div class="row">
    <div class="col-sm-12">
    <h3 style="margin-left: 33%">Er du sikker på at du vil slette denne klientprofilen??</h3>
    <hr class="hrClass" />
    <div class="col-sm-4"></div>
    <div class="col-sm-4">

        <dl class="dl-horizontal ContainerGreen">
            <dt>
                @Html.DisplayNameFor(model => model.Orgnummer)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Orgnummer)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Password)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Password)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FirmaNavn)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FirmaNavn)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.GateNavn)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.GateNavn)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.HusNummer)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.HusNummer)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.HusBokStav)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.HusBokStav)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PostNummer)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PostNummer)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Sted)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Sted)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Epost)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Epost)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.KontaktNavn)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.KontaktNavn)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.KontaktEpost)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.KontaktEpost)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.KontaktTlfnr)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.KontaktTlfnr)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TekniskKontaktNavn)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TekniskKontaktNavn)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TekniskKontaktEpost)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TekniskKontaktEpost)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TekniskKontaktTlfnr)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TekniskKontaktTlfnr)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Id_abonemetypeF)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Id_abonemetypeF)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Id_abonementypeI)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Id_abonementypeI)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Abonementype.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Abonementype.Name)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <button class="ButtonBack" onclick="location.href = '@Url.Action("Index", "Home")';return false;"><span class="glyphicon glyphicon-arrow-left"></span> Tilbake</button>
        <input class="ButtonEdit" type="submit" value="Delete" />
    </div>
        }
    </div>
    </div>
</div>
