@model TeliaMVC.Models.Client

@{
    ViewBag.Title = "Details";
    if (Session["Id"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}

<style>
    .ButtonBack {
        background-color: darkred;
        font-size: larger;
        font-weight: bold;
        color: white;
        padding: 10px 15px;
        border-radius: 16px;
        border-color: transparent;
        text-shadow: 1px 1px black;
        box-shadow: 0 8px 14px 0 rgba(0,0,0,0.24), 0 13px 30px 0 rgba(0,0,0,0.19);
    }

        .ButtonBack:hover {
            color: white;
            background-color: red;
            box-shadow: 0 13px 18px 0 rgb(200, 0, 0), 0 16px 45px 0 rgba(0,0,0,0.19);
        }

        .ButtonBack:active {
            transform: translateY(+2px);
            background-color: darkred;
        }


    .ButtonEdit {
        background-color: darkblue;
        font-size: larger;
        font-weight: bold;
        color: white;
        padding: 10px 15px;
        border-radius: 16px;
        border-color: transparent;
        text-shadow: 1px 1px black;
        box-shadow: 0 8px 14px 0 rgba(0,0,0,0.24), 0 13px 30px 0 rgba(0,0,0,0.19);
    }

        .ButtonEdit:hover {
            color: white;
            background-color: blue;
            box-shadow: 0 13px 18px 0 rgb(30, 20, 210), 0 16px 45px 0 rgba(0,0,0,0.21);
        }

        .ButtonEdit:active {
            transform: translateY(+2px);
            background-color: darkblue;
        }

    .ContainerGreen {
        box-shadow: 2px 2px 1px 3px #b3ffb3;
        margin-bottom: 5px;
    }

    .ContainerRed {
        box-shadow: 2px 2px 1px 3px #ff9999;
        margin-bottom: 5px;
    }

    .aNav {
        cursor: pointer;
    }

    li {
        cursor: default;
        font-weight: bold;
        font-size: large;
    }
    body {
        background-image: url(../../Resources/background2.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
</style>

@if (Model.FirmaNavn != null || Model.GateNavn != null || Model.Epost != null || Model.Sted != null || Model.PostNummer != null || Model.HusBokStav != null)
{
    <nav aria-label="breadcrumb" class="main-breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page"> Profile</li>
            <li class="breadcrumb-item"><a class="aNav" onclick="location.href = '@Url.Action("Index", "Fakturaoppsetts",new { id = Model.Id})'">Fakturaoppsetts</a></li>
            <li class="breadcrumb-item"><a class="aNav" onclick="location.href = '@Url.Action("Index", "Nummers", new { id = Model.Id })'">Nummers</a></li>
        </ol>
    </nav>
}
else
{
    <h2 style="color: darkblue; font-weight: bold;">Velkommen. Fyll ut informasjon om profilen din.</h2>
}



@Html.AntiForgeryToken()
<div>
    <div class="col-md-6">
        <strong>Kundeinformasjon</strong><br>
        <div class="table-responsive">
            <table class="table table-user-information" style="background-color: #DBF7B9">
                <tbody>
                    <tr>
                        <td>
                            <strong>
                                <span class="glyphicon glyphicon-asterisk text-primary"></span>
                                @Html.DisplayNameFor(model => model.Orgnummer)
                            </strong>
                        </td>
                        <td class="text-primary">
                            @Html.DisplayFor(model => model.Orgnummer)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>
                                <span class="glyphicon glyphicon-eye-open  text-primary"></span>
                                @Html.DisplayNameFor(model => model.Password)
                            </strong>
                        </td>
                        <td class="text-primary" style="visibility:hidden;">
                            @Html.DisplayFor(model => model.Password)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>
                                <span class="glyphicon glyphicon-home text-primary"></span>
                                @Html.DisplayNameFor(model => model.FirmaNavn)
                            </strong>
                        </td>
                        <td class="text-primary">
                            @Html.DisplayFor(model => model.FirmaNavn)
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <strong>
                                <span class="glyphicon glyphicon-question-sign text-primary"></span>
                                @Html.DisplayNameFor(model => model.GateNavn)
                            </strong>
                        </td>
                        <td class="text-primary">
                            @Html.DisplayFor(model => model.GateNavn)
                        </td>
                    </tr>


                    <tr>
                        <td>
                            <strong>
                                <span class="glyphicon glyphicon-eye-open text-primary"></span>
                                @Html.DisplayNameFor(model => model.HusNummer)
                            </strong>
                        </td>
                        <td class="text-primary">
                            @Html.DisplayFor(model => model.HusNummer)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>
                                <span class="glyphicon glyphicon-book text-primary"></span>
                                @Html.DisplayNameFor(model => model.HusBokStav)
                            </strong>
                        </td>
                        <td class="text-primary">
                            @Html.DisplayFor(model => model.HusBokStav)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>
                                <span class="glyphicon glyphicon-calendar text-primary"></span>
                                @Html.DisplayNameFor(model => model.PostNummer)
                            </strong>
                        </td>
                        <td class="text-primary">
                            @Html.DisplayFor(model => model.PostNummer)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>
                                <span class="glyphicon glyphicon-question-sign text-primary"></span>
                                @Html.DisplayNameFor(model => model.Sted)
                            </strong>
                        </td>
                        <td class="text-primary">
                            @Html.DisplayFor(model => model.Sted)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>
                                <span class="glyphicon glyphicon-envelope text-primary"></span>
                                @Html.DisplayNameFor(model => model.Epost)
                            </strong>
                        </td>
                        <td class="text-primary">
                            @Html.DisplayFor(model => model.Epost)
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
        @if (Model.FirmaNavn == null && Model.GateNavn == null && Model.Epost == null && Model.Sted == null && Model.PostNummer == null && Model.HusBokStav == null)
        {
            <p><button class="btn buttonLink" onclick="location.href = '@Url.Action("Index", "Fakturaoppsetts", new { id = Model.Id })'">FakturaOppsett &raquo;</button></p>
        }
        <button class="ButtonEdit" onclick="location.href = '@Url.Action("Edit", "HomeClient", new { id = Model.Id })'"><span class="glyphicon glyphicon-edit"></span>  Edit profile </button>
    </div>
    <div class="col-md-6">
        <strong>Kontaktperson</strong><br>
        <div class="table-responsive">
            <table class="table table-user-information" style="background-color: #F9B3A7">
                <tbody>
                    <tr>
                        <td>
                            <strong>
                                <span class="glyphicon glyphicon-user text-primary"></span>
                                @Html.DisplayNameFor(model => model.KontaktNavn)
                            </strong>
                        </td>
                        <td class="text-primary">
                            @Html.DisplayFor(model => model.KontaktNavn)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>
                                <span class="glyphicon glyphicon-envelope text-primary"></span>
                                @Html.DisplayNameFor(model => model.KontaktEpost)
                            </strong>
                        </td>
                        <td class="text-primary">
                            @Html.DisplayFor(model => model.KontaktEpost)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>
                                <span class="glyphicon glyphicon-phone text-primary"></span>
                                @Html.DisplayNameFor(model => model.KontaktTlfnr)
                            </strong>
                        </td>
                        <td class="text-primary">
                            @Html.DisplayFor(model => model.KontaktTlfnr)
                        </td>
                    </tr>


                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-6">
        <strong>Teknisk kontaktperson</strong><br>
        <div class="table-responsive">
            <table class="table table-user-information" style="background-color: #F9B3A7">
                <tbody>
                    <tr>
                        <td>
                            <strong>
                                <span class="glyphicon glyphicon-user text-primary"></span>
                                @Html.DisplayNameFor(model => model.TekniskKontaktNavn)
                            </strong>
                        </td>
                        <td class="text-primary">
                            @Html.DisplayFor(model => model.TekniskKontaktNavn)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>
                                <span class="glyphicon glyphicon-envelope  text-primary"></span>
                                @Html.DisplayNameFor(model => model.TekniskKontaktEpost)
                            </strong>
                        </td>
                        <td class="text-primary">
                            @Html.DisplayFor(model => model.TekniskKontaktEpost)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>
                                <span class="glyphicon glyphicon-phone text-primary"></span>
                                @Html.DisplayNameFor(model => model.TekniskKontaktTlfnr)
                            </strong>
                        </td>
                        <td class="text-primary">
                            @Html.DisplayFor(model => model.TekniskKontaktTlfnr)
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
@*<div>
        <br />
        <dl class="dl-horizontal">
            <div class="row" style="margin-left: 10px;">
                    <fieldset>
                        <legend>
                            Kundeinformasjon
                        </legend>
                        <div class="col-md-8" style="background-color: #DBF7B9">
                            <dt>
                                @Html.DisplayNameFor(model => model.Orgnummer)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Orgnummer)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Password)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Password)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.FirmaNavn)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.FirmaNavn)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.GateNavn)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.GateNavn)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.HusNummer)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.HusNummer)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.HusBokStav)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.HusBokStav)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.PostNummer)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.PostNummer)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Sted)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Sted)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Epost)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Epost)
                            </dd>
                    </fieldset>
                </div>
            <div class="row" style="margin-left: 10px;">
                <fieldset>
                    <legend>
                        Kontaktperson
                    </legend>
                    <div class="col-md-6 ContainerRed" style="background-color: #F9B3A7">
                        <dt>
                            @Html.DisplayNameFor(model => model.KontaktNavn)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.KontaktNavn)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.KontaktEpost)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.KontaktEpost)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.KontaktTlfnr)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.KontaktTlfnr)
                        </dd>
                    </div>
                </fieldset>

            </div>
            <div class="row" style="margin-left: 10px;">
                <fieldset>
                    <legend>
                        Teknisk kontaktperson
                    </legend>
                    <div class="col-md-6 ContainerRed" style="background-color: #F9B3A7">
                        <dt>
                            @Html.DisplayNameFor(model => model.TekniskKontaktNavn)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.TekniskKontaktNavn)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.TekniskKontaktEpost)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.TekniskKontaktEpost)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.TekniskKontaktTlfnr)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.TekniskKontaktTlfnr)
                        </dd>
                    </div>
                </fieldset>
            </div>
        </dl>
    </div>*@
@*<hr />*@

@*@if (Model.FirmaNavn == null && Model.GateNavn == null && Model.Epost == null && Model.Sted == null && Model.PostNummer == null && Model.HusBokStav == null)
    {
        <p><button class="btn buttonLink" onclick="location.href = '@Url.Action("Index", "Fakturaoppsetts", new { id = Model.Id })'">FakturaOppsett &raquo;</button></p>
    }
    <button class="ButtonEdit" onclick="location.href = '@Url.Action("Edit", "HomeClient", new { id = Model.Id })'"><span class="glyphicon glyphicon-edit"></span>  Edit profile </button>*@



