@model IEnumerable<TeliaMVC.Models.Fakturaoppsett>
@{
    ViewBag.Title = "FakturaOppsett";
}

<h2>Fakturaoppsett</h2>

<div class="row">
    <div class="col-md-6" style="margin-bottom: 5px;">
        <button class="btn-primary btn-lg shadow-lg" data-toggle="tooltip" data-placement="bottom" title="Hvis du klikker på denne knappen, kan du legge til ny informasjon om fakturaoppsett" onclick="location.href='@Url.Action("Create", "Fakturaoppsetts")'" style="        background-color: #990AE4;
        font-size: medium;
        font-weight: bold;
        color: white;
        text-shadow: 1px 1px black;
        float: left;
        border-radius: 12px;
        padding:10px;
    " ><span class="glyphicon glyphicon-plus"></span>  Skape</button>

    </div>
</div>
<div class="row">
    <div style="overflow-x:auto; margin-left:15px; margin-right:15px;"> <!--podeseno da se pojavi klizac kad se umanjuje slika-->
        <table class="table table-striped table-hover table-responsive" cellspacing="0"  >
            <thead style="background-color: #990AE4;
                    color: white;
                    text-shadow: 1px 2px black;">
                <tr>
                    <th scope="row">
                        @Html.DisplayNameFor(model => model.NavnPaKostnadssted)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Tileggsinfo_kostnadssted)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Fakturaformat)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Fakturaadresse)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Husnr)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Bokstav)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Postnummer)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Sted)
                    </th>
                    <th >
                        @Html.DisplayNameFor(model => model.Epost)
                    </th>
                    <th ></th>
                </tr>
            </thead>
            <tbody style="font-weight:bold; color:black; font-size: 16px;">
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="col-sm-1" >
                            @Html.DisplayFor(modelItem => item.NavnPaKostnadssted)
                        </td>
                        <td class="col-sm-1">
                            @Html.DisplayFor(modelItem => item.Tileggsinfo_kostnadssted)
                        </td>
                        <td class="col-sm-1">
                            @Html.DisplayFor(modelItem => item.Fakturaformat)
                        </td>
                        <td class="col-sm-1">
                            @Html.DisplayFor(modelItem => item.Fakturaadresse)
                        </td>
                        <td class="col-sm-1">
                            @Html.DisplayFor(modelItem => item.Husnr)
                        </td>
                        <td class="col-sm-1">
                            @Html.DisplayFor(modelItem => item.Bokstav)
                        </td>
                        <td class="col-sm-1">
                            @Html.DisplayFor(modelItem => item.Postnummer)
                        </td>
                        <td class="col-sm-1">
                            @Html.DisplayFor(modelItem => item.Sted)
                        </td>
                        <td class="text-primary">
                            @Html.DisplayFor(modelItem => item.Epost)
                        </td>
                        <td style="background-color:azure; font-style:italic;font-size: 15px;" class="col-sm-2">
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button class="btn-primary btn-group-sm shadow-lg" data-toggle="tooltip" data-placement="bottom" title="Ved å klikke på denne knappen kan du oppdatere informasjon i valgt rad"
                                        onclick="location.href='@Url.Action("Edit", "Fakturaoppsetts", new { id = item.Kostnadssted })'" style="
                                     font-size: large;
                                     font-weight: bold;
                                     color: white;
                                     text-shadow: 1px 1px black;
                                     border-radius: 12px;
                                    ">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                    
                                </button>
                                <!--
    <button class="btn-info btn-group-sm shadow-lg" onclick="location.href='@Url.Action("Details", "Fakturaoppsetts", new { id = item.Kostnadssted })'" style="
             font-size: medium;
             font-weight: bold;
             color: white;
             text-shadow: 1px 1px black;
             border-radius: 12px;
            ">
        Details
    </button>
        -->
                                <button class="btn-danger btn-group-sm shadow-lg" data-toggle="tooltip" data-placement="bottom" title="Ved å klikke på denne knappen kan du slette valgt rad"
                                        onclick="location.href='@Url.Action("Delete", "Fakturaoppsetts", new { id = item.Kostnadssted })'" style="        font-size: medium;
                                    font-weight: bold;
                                    font-size: large;
                                    color: white;
                                    text-shadow: 1px 1px black;
                                    border-radius: 12px;
                                    margin-top: 5px;
                                    ">
                                    <span class="glyphicon glyphicon-remove"></span>
                                    
                                </button>
                            </div>
                        </td>
                    </tr> 
                }
            </tbody>
        </table>
        <div>
            Dodatan deo?
        </div>


    </div>
</div>