@model PagedList.IPagedList<TeliaMVC.Models.Fakturaoppsett>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "FakturaOppsett";
    if (Session["Id"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}

<h2>Fakturaoppsett</h2>

<div class="row" style="margin-right:10px;">
    <div class="col-md-6">
        <button class="btn-success btn-lg shadow-lg" data-toggle="tooltip" data-placement="bottom" title="Hvis du klikker på denne knappen, kan du legge til ny informasjon om fakturaoppsett" onclick="location.href='@Url.Action("Create", "Fakturaoppsetts")'" style="        background-color: #990AE4; font-size: medium;
        font-weight: bold;
        color: white;
        text-shadow: 1px 1px black;
        border-radius: 14px;
    ">
            <span class="glyphicon glyphicon-plus"></span>Skape
        </button>

    </div>
</div>
<br/>

<div class="row">
    @using (Html.BeginForm("Index", "Fakturaoppsetts", FormMethod.Get))
    {
        <p style="font-size: medium;font-weight:bold;color:black;margin-left:15px;">
            Søk etter navn: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
            <input type="submit" value="Search" class="btn btn-info shadow-lg" style="        color: black;
        font-size: medium;
        border-radius: 14px;
" />

        </p>

    }
    <div style="overflow-x:auto; margin-left:15px; margin-right:15px;" class="shadow">
        <!--podeseno da se pojavi klizac kad se umanjuje slika-->
        <table class="table-bordered table-sm table-hover table-striped " style="font-size: 15px;table-layout:fixed;">
            <thead style="background-color: #990AE4;
                    color: white;
                    text-shadow: 1px 2px black;">
                <tr>
                    <th scope="row" class="col-sm-2">
                        Kostnadssted
                        <button class="btn btn-sm" style="background-color:transparent; padding:4px;" onclick="location.href='@Url.Action("Index", "Fakturaoppsetts",new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })'">
                            <span class="glyphicon glyphicon-sort-by-alphabet"></span>
                        </button>
                    </th>

                    <th class="col-sm-2">
                        Tileggsinfo<button class="btn" style="background-color:transparent;padding:4px;" onclick="location.href='@Url.Action("Index", "Fakturaoppsetts",new { sortOrder = ViewBag.TilegsSortParm, currentFilter = ViewBag.CurrentFilter })'">
                            <span class="glyphicon glyphicon-sort-by-alphabet"></span>
                        </button>
                    </th>
                    <th class="col-sm-2">
                        Fakturaformat<button class="btn" style="background-color:transparent;padding:4px;" onclick="location.href='@Url.Action("Index", "Fakturaoppsetts",new { sortOrder = ViewBag.FakturaFormatSortParm, currentFilter = ViewBag.CurrentFilter })'">
                            <span class="glyphicon glyphicon-sort-by-alphabet"></span>
                        </button>
                    </th>
                    <th class="col-sm-2">
                        Fakturaadresse<button class="btn" style="background-color:transparent;padding:4px;" onclick="location.href='@Url.Action("Index", "Fakturaoppsetts",new { sortOrder = ViewBag.FakturaAdresseSortParm, currentFilter = ViewBag.CurrentFilter })'">
                            <span class="glyphicon glyphicon-sort-by-alphabet"></span>
                        </button>
                    </th>
                    <th class="col-sm-2">
                        Husnr<button class="btn" style="background-color:transparent;padding:4px;" onclick="location.href='@Url.Action("Index", "Fakturaoppsetts",new { sortOrder = ViewBag.HusnrFormatSortParm, currentFilter = ViewBag.CurrentFilter })'">
                            <span class="glyphicon glyphicon-sort"></span>
                        </button>
                    </th>
                    <th class="col-sm-2">
                        Bokstav<button class="btn" style="background-color:transparent;padding:4px;" onclick="location.href='@Url.Action("Index", "Fakturaoppsetts",new { sortOrder = ViewBag.BokstavFormatSortParm, currentFilter = ViewBag.CurrentFilter })'">
                            <span class="glyphicon glyphicon-sort-by-alphabet"></span>
                        </button>
                    </th>
                    <th class="col-sm-2">
                        Postnummer<button class="btn" style="background-color:transparent;padding:4px;" onclick="location.href='@Url.Action("Index", "Fakturaoppsetts",new { sortOrder = ViewBag.PostnummerSortParm, currentFilter = ViewBag.CurrentFilter })'">
                            <span class="glyphicon glyphicon-sort"></span>
                        </button>
                    </th>
                    <th class="col-sm-2">
                        Sted<button class="btn" style="background-color:transparent;padding:4px;" onclick="location.href='@Url.Action("Index", "Fakturaoppsetts",new { sortOrder = ViewBag.StedSortParm, currentFilter = ViewBag.CurrentFilter })'">
                            <span class="glyphicon glyphicon-sort-by-alphabet"></span>
                        </button>
                    </th>
                    <th class="col-sm-2">
                        Epost
                    </th>
                    <th style="width:35px;"></th>
                </tr>
            </thead>
            <tbody style="color:black; font-size: 13px;">
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="col-sm-1" >
                            @Html.DisplayFor(modelItem => item.NavnPaKostnadssted)
                        </td>
                        <td class="col-sm-1" >
                            @Html.DisplayFor(modelItem => item.Tileggsinfo_kostnadssted)
                        </td>
                        <td class="col-sm-1">
                            @Html.DisplayFor(modelItem => item.Fakturaformat)
                        </td>
                        <td class="col-sm-1">
                            @Html.DisplayFor(modelItem => item.Fakturaadresse)
                        </td>
                        <td class="col-sm-1">
                            @Html.DisplayFor(modelItem => item.Husnr)
                        </td>
                        <td class="col-sm-1">
                            @Html.DisplayFor(modelItem => item.Bokstav)
                        </td>
                        <td class="col-sm-1">
                            @Html.DisplayFor(modelItem => item.Postnummer)
                        </td>
                        <td class="col-sm-1">
                            @Html.DisplayFor(modelItem => item.Sted)
                        </td>
                        <td style="color:darkblue; font-style:italic;font-weight: bold;">
                            @Html.DisplayFor(modelItem => item.Epost)
                        </td>
                        <td style="background-color:azure;">
                            <div style="display:flex; align-items:stretch;">

                                <button class="btn-primary btn-group-sm shadow-lg" data-toggle="tooltip" data-placement="bottom" title="Ved å klikke på denne knappen kan du oppdatere informasjon i valgt rad"
                                        onclick="location.href='@Url.Action("Edit", "Fakturaoppsetts", new { id = item.Kostnadssted })'" style="
                                     font-size: smaller;
                                     color: white;
                                     text-shadow: 1px 1px black;
                                     border-radius: 12px;
                                     margin-left:2px;
                                     margin-right:2px;
                                     margin-top: 2px;
                                     margin-bottom:2px;
                                    ">
                                    <span class="glyphicon glyphicon-pencil"></span>

                                </button>
                                <button class="btn-danger btn-group-sm shadow-lg" data-toggle="tooltip" data-placement="bottom" title="Ved å klikke på denne knappen kan du slette valgt rad"
                                        onclick="location.href='@Url.Action("Delete", "Fakturaoppsetts", new { id = item.Kostnadssted })'" style="        font-size: medium;
                                    font-size: smaller;
                                    color: white;
                                    text-shadow: 1px 1px black;
                                    margin-right:2px;
                                    margin-top: 2px;
                                    margin-bottom:2px;
                                    border-radius: 12px;
                                    ">
                                    <span class="glyphicon glyphicon-remove"></span>

                                </button>
                            </div>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
        <br/>
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("Index",
     new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))


    </div>
    
</div>