@{
    ViewBag.Title = "Forside";
    if (Session["Id"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}

<h2>Index</h2>
@using (Html.BeginForm("Import", "NummerPost", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <input type="file" name="excelfile" class="ButtonCreate shadow-lg" />
        <button class="ButtonCreate shadow-lg" title="Denne knappen oppretter Excell-fil på datamaskinen, slik at du kan fylle den med data"
                onclick="location.href = '@Url.Action("Import", "NummerPost",new { enctype = "multipart/form-data" })'">
            <span class="glyphicon glyphicon-import"></span>Importer excel-fil
        </button>
    </div>
}
<div>
    <h4>Postnummer</h4>
    <hr />
    <div style="overflow-x: auto; margin-left: 7px; margin-right: 15px;" class="shadow">
        <table class="table-bordered table-sm table-hover table-striped " style="font-size: 14px;color:black;font-weight:bold;table-layout:fixed;border-radius: 5px;">
            <thead style="background-color: #990AE4;
                      color: white;
                      text-shadow: 1px 1px black;">
                <tr>
                    <th class="col-sm-2">
                        Telefonnummer
                    </th>
                    <th scope="row" class="col-sm-2">
                        Abonnementstype
                    </th>
                    <th class="col-sm-2">
                        Fornavn
                    </th>
                    <th class="col-sm-2">
                        Etternavn
                    </th>
                    <th class="col-sm-2">
                        Bedrift_som_skal_faktureres
                    </th>

                </tr>
            </thead>
            <tbody style=" color: black; font-size: 12px;">
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="col-sm-1">
                            @Html.DisplayFor(modelItem => item.PostNr)
                        </td>
                        <td class="col-sm-1">
                            @Html.DisplayFor(modelItem => item.Poststed)
                        </td>
                        <td class="col-sm-1">
                            @Html.DisplayFor(modelItem => item.Kommunenummer)
                        </td>
                        <td class="col-sm-1">
                            @Html.DisplayFor(modelItem => item.Kommunenavn)
                        </td>
                        <td class="col-sm-1">
                            @Html.DisplayFor(modelItem => item.Kategory)
                        </td>

                    </tr>
                }
            </tbody>
        </table>

        <br />
    </div>

</div>
