@model TeliaMVC.Models.Nummer

@{
    ViewBag.Title = "Slette";
    if (Session["Id"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <style>
        hr {
            border: 0;
            height: 4px;
            background-image: linear-gradient(to right, azure,pink, purple, pink,azure);
            box-shadow: 0 10px 10px -10px purple inset;
        }

        .TextBox {
            border: 1px solid Purple;
            font-weight: bold;
            color: black;
            box-shadow: 0 8px 8px -9px black inset;
        }

            .TextBox:scope, .TextBox:active, .TextBox::after, .TextBox + span {
                box-shadow: 0 5px 5px -7px purple inset;
            }

        .SelectBox {
            border: 1px solid Purple;
            font-weight: bold;
            color: black;
            box-shadow: 0 8px 8px -9px black inset;
        }

            .SelectBox:scope, .SelectBox:active, .SelectBox::after, .SelectBox + span {
                box-shadow: 0 5px 5px -7px purple inset;
            }

        .Labela {
            margin-bottom: 3px;
            font-size: 17px;
            color: black;
            font-weight: bolder;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }

        .ButtonBack {
            background-color: darkred;
            font-size: larger;
            font-weight: bold;
            color: white;
            padding: 10px 15px;
            border-radius: 16px;
            border-color: transparent;
            text-shadow: 1px 1px black;
            box-shadow: 0 8px 14px 0 rgba(0,0,0,0.24), 0 13px 30px 0 rgba(0,0,0,0.19);
        }

            .ButtonBack:hover {
                color: white;
                background-color: red;
                box-shadow: 0 13px 18px 0 rgb(200, 0, 0), 0 16px 45px 0 rgba(0,0,0,0.19);
            }

            .ButtonBack:active {
                transform: translateY(+2px);
                background-color: darkred;
            }


        .ButtonEdit {
            background-color: darkblue;
            font-size: larger;
            font-weight: bold;
            color: white;
            padding: 10px 15px;
            border-radius: 16px;
            border-color: transparent;
            text-shadow: 1px 1px black;
            box-shadow: 0 8px 14px 0 rgba(0,0,0,0.24), 0 13px 30px 0 rgba(0,0,0,0.19);
        }

            .ButtonEdit:hover {
                color: white;
                background-color: blue;
                box-shadow: 0 13px 18px 0 rgb(30, 20, 210), 0 16px 45px 0 rgba(0,0,0,0.21);
            }

            .ButtonEdit:active {
                transform: translateY(+2px);
                background-color: darkblue;
            }

        .elementsForm {
            float: left;
        }
        .ContainerGreen {
            box-shadow: 2px 2px 1px 3px #b3ffb3;
            margin-bottom: 5px;
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-size: medium;
        }
    </style>
    <h3 style="color:red;">Er du sikker på at du vil slette disse dataene?</h3>
    <div>
        <dl class="dl-horizontal" style=" font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: medium;">
            <div class="row" style="margin-left: 10px;">
                <fieldset>
                    <div class="col-md-5" style="background-color: #DBF7B9">
                        <dt>
                            @Html.DisplayNameFor(model => model.Telefonnummer)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Telefonnummer)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Abonnementstype)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Abonnementstype)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Fornavn)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Fornavn)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Etternavn)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Etternavn)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Bedrift_som_skal_faktureres)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Bedrift_som_skal_faktureres)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.c_o_adresse_for_SIM_levering)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.c_o_adresse_for_SIM_levering)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Gateadresse_SIM_Skal_sendes_til)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Gateadresse_SIM_Skal_sendes_til)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Hus_nummer)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Hus_nummer)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Hus_bokstav)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Hus_bokstav)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.post_nr_)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.post_nr_)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Post_sted)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Post_sted)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Epost_for_sporings_informasjon)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Epost_for_sporings_informasjon)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Epost)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Epost)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Tilleggsinfo_ansatt_ID)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Tilleggsinfo_ansatt_ID)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Ekstra_talesim_)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Ekstra_talesim_)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Ekstra_datasim)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Ekstra_datasim)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Fakturaoppsett.NavnPaKostnadssted)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Fakturaoppsett.NavnPaKostnadssted)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Porteringsdatoog_tid)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Porteringsdatoog_tid)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Porteringsdatoog_tid)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Porteringsdatoog_tid)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Katalogoppforing)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Katalogoppforing)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Binding)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Binding)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Postnummer)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Postnummer)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Antall_TrillingSIM)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Antall_TrillingSIM)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Manuell_Top_up)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Manuell_Top_up)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Sperre_Top_up)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Sperre_Top_up)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Norden)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Norden)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Tale_og_SMS_til_EU)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Tale_og_SMS_til_EU)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.TBN)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.TBN)
                        </dd>
                    </div>
                    </fieldset>
                </div>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <button class="ButtonBack" onclick="location.href = '@Url.Action("Index", "NummersAdmin", new { id_sesije = ViewBag.ID })';return false;">Tilbake</button>
        <input type="submit" value="Slette" class="ButtonEdit" />
    </div>
        }
    </div>
</body>
</html>
