@model TeliaMVC.Models.Nummer

@{
    ViewBag.Title = "UpdateColumn";
    if (Session["Id"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}

<h1 style="color: red;">Are you sure you want to copy  to all members? </h1>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>Selected value is: @ViewBag.Value</p>

    <div style="display:none;">
        @Html.TextBox("sortOrder", ViewBag.sort as string);
    </div>
    <div style="display:none;">
        @Html.TextBox("currentFilter", ViewBag.filter as string);
    </div>
    <div style="display:none;">
        @Html.TextBox("CopyColumn", ViewBag.Copy as string);
    </div>
    <div style="display:none;">
        @Html.TextBox("currentSelected", ViewBag.selected as string);
    </div>
    <input type="submit" value="YES" class="btn-success btn-lg" />
}