@model PagedList.IPagedList<TeliaMVC.Models.Nummer>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


@{
    ViewBag.Title = "Nummers";
    if (Session["Id"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}

<h2>Nummer</h2>
<style>
    .button {
        font-size: smaller;
        color: white;
        text-shadow: 1px 1px black;
        margin-right: 2px;
        margin-bottom: 2px;
        border-radius: 12px;
    }
</style>

<div class="row">
   
    <div class="col-md-6" style="margin-bottom: 5px;">
        <button class="btn-primary btn-lg shadow-lg" data-toggle="tooltip" data-placement="bottom"
                title="Hvis du klikker på denne knappen, kan du legge til ny informasjon om fakturaoppsett"
                onclick="location.href = '@Url.Action("Create", "Nummers")'" style="background-color: #990AE4; font-size: medium; font-weight: bold; color: white; text-shadow: 1px 1px black; float: left; border-radius: 12px; padding: 10px; ">
            <span class="glyphicon glyphicon-plus"></span> Skape
        </button>

    </div>
</div>



<div class="row">
    @using (Html.BeginForm("Index", "Nummers", FormMethod.Get))
    {
        <p style="font-size: medium;font-weight:bold;color:black;margin-left:15px;">
            Søk etter telefonmummer: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
            <input type="submit" value="Search" class="btn btn-info shadow-lg" style="        color: black;
                                                                                      font-size: medium;
                                                                                      border-radius: 14px;
                                                                                  " />

        </p>

    }
    <div style="overflow-x: auto; margin-left: 15px; margin-right: 15px;" class="shadow">
        <table class="table-bordered table-sm table-hover table-striped " style="font-size: 15px;table-layout:fixed;">
            <thead style="background-color: #990AE4;
                          color: white;
                          text-shadow: 1px 2px black;">
            <tr>
                <th class="col-sm-2">
                    Telefonnummer
                    <button class="btn btn-sm" style="background-color:transparent; padding:4px;" onclick="location.href = '@Url.Action("Index", "Nummers",new { sortOrder = ViewBag.Telefonnummer, currentFilter = ViewBag.CurrentFilter })'">
                        <span class="glyphicon glyphicon-sort"></span>
                    </button>
                </th>
                <th scope="row" class="col-sm-2">
                    Abonnementstype
                    <button class="btn btn-sm" style="background-color:transparent; padding:4px;" onclick="location.href = '@Url.Action("Index", "Nummers",new { sortOrder = ViewBag.Abonnementstype, currentFilter = ViewBag.CurrentFilter })'">
                        <span class="glyphicon glyphicon-sort-by-alphabet"></span>
                    </button>
                </th>
                <th class="col-sm-2">
                    Fornavn
                    <button class="btn btn-sm" style="background-color:transparent; padding:4px;" onclick="location.href = '@Url.Action("Index", "Nummers",new { sortOrder = ViewBag.FornavnSortParm, currentFilter = ViewBag.CurrentFilter })'">
                        <span class="glyphicon glyphicon-sort-by-alphabet"></span>
                    </button>
                </th>
                <th class="col-sm-2">
                    Etternavn
                    <button class="btn btn-sm" style="background-color:transparent; padding:4px;" onclick="location.href = '@Url.Action("Index", "Nummers",new { sortOrder = ViewBag.EtternavnSortParm, currentFilter = ViewBag.CurrentFilter })'">
                        <span class="glyphicon glyphicon-sort-by-alphabet"></span>
                    </button>
                </th>
                <th class="col-sm-2">
                    Bedrift_som_skal_faktureres
                    <button class="btn btn-sm" style="background-color:transparent; padding:4px;" onclick="location.href = '@Url.Action("Index", "Nummers",new { sortOrder = ViewBag.Bedrift_som_skal_faktureresSortParm, currentFilter = ViewBag.CurrentFilter })'">
                        <span class="glyphicon glyphicon-sort-by-alphabet"></span>
                    </button>
                </th>
                <th class="col-sm-2">
                    c_o_adresse_for_SIM_levering
                    <button class="btn btn-sm" style="background-color:transparent; padding:4px;" onclick="location.href='@Url.Action("Index", "Nummers",new { sortOrder = ViewBag.c_o_adresse_for_SIM_leveringSortParm, currentFilter = ViewBag.CurrentFilter })'">
                        <span class="glyphicon glyphicon-sort-by-alphabet"></span>
                    </button>
                </th>
                <th class="col-sm-2">
                    Gateadresse_SIM_Skal_sendes_til
                    <button class="btn btn-sm" style="background-color:transparent; padding:4px;" onclick="location.href = '@Url.Action("Index", "Nummers",new { sortOrder = ViewBag.Gateadresse_SIM_Skal_sendes_tilSortParm, currentFilter = ViewBag.CurrentFilter })'">
                        <span class="glyphicon glyphicon-sort-by-alphabet"></span>
                    </button>
                </th>
                <th class="col-sm-2">
                    Hus_nummer
                    <button class="btn btn-sm" style="background-color:transparent; padding:4px;" onclick="location.href = '@Url.Action("Index", "Nummers",new { sortOrder = ViewBag.Hus_nummerSortParm, currentFilter = ViewBag.CurrentFilter })'">
                        <span class="glyphicon glyphicon-sort-by-alphabet"></span>
                    </button>
                </th>
                <th class="col-sm-2">
                    Hus_bokstav
                    <button class="btn btn-sm" style="background-color:transparent; padding:4px;" onclick="location.href = '@Url.Action("Index", "Nummers",new { sortOrder = ViewBag.Hus_bokstavSortParm, currentFilter = ViewBag.CurrentFilter })'">
                        <span class="glyphicon glyphicon-sort-by-alphabet"></span>
                    </button>
                </th>
                <th class="col-sm-2">
                    post_nr_
                    <button class="btn btn-sm" style="background-color:transparent; padding:4px;" onclick="location.href = '@Url.Action("Index", "Nummers",new { sortOrder = ViewBag.post_nr_SortParm, currentFilter = ViewBag.CurrentFilter })'">
                        <span class="glyphicon glyphicon-sort-by-alphabet"></span>
                    </button>
                </th>
                <th class="col-sm-2">
                    Post_sted
                    <button class="btn btn-sm" style="background-color:transparent; padding:4px;" onclick="location.href = '@Url.Action("Index", "Nummers",new { sortOrder = ViewBag.Post_stedSortParm, currentFilter = ViewBag.CurrentFilter })'">
                        <span class="glyphicon glyphicon-sort-by-alphabet"></span>
                    </button>
                </th>
                <th class="col-sm-2">
                    Epost_for_sporings_informasjon
                </th>
                <th class="col-sm-2" >
                    Epost
                </th>
                <th class="col-sm-2">
                    Tilleggsinfo_ansatt_ID
                </th>
                <th class="col-sm-2">
                    Ekstra_talesim_
                    <button class="btn btn-sm" style="background-color:transparent; padding:4px;" onclick="location.href = '@Url.Action("Index", "Nummers",new { sortOrder = ViewBag.Ekstra_talesimSortParm, currentFilter = ViewBag.CurrentFilter })'">
                        <span class="glyphicon glyphicon-sort-by-alphabet"></span>
                    </button>
                </th>
                <th class="col-sm-2">
                    Ekstra_datasim
                    <button class="btn btn-sm" style="background-color:transparent; padding:4px;" onclick="location.href = '@Url.Action("Index", "Nummers",new { sortOrder = ViewBag.Ekstra_datasimSortParm, currentFilter = ViewBag.CurrentFilter })'">
                        <span class="glyphicon glyphicon-sort-by-alphabet"></span>
                    </button>
                </th>
                <th class="col-sm-2">
                    NavnPaKostnadssted
                </th>
                <th style="width:35px;"></th>
            </tr>
            </thead>
            <tbody style=" color: black; font-size: 13px;">
            @foreach (var item in Model)
            {
                <tr>
                    <td class="col-sm-1">
                        @Html.DisplayFor(modelItem => item.Telefonnummer)
                    </td>
                    <td class="col-sm-1">
                        @Html.DisplayFor(modelItem => item.Abonnementstype)
                    </td>
                    <td class="col-sm-1">
                        @Html.DisplayFor(modelItem => item.Fornavn)
                    </td>
                    <td class="col-sm-1">
                        @Html.DisplayFor(modelItem => item.Etternavn)
                    </td>
                    <td class="col-sm-1">
                        @Html.DisplayFor(modelItem => item.Bedrift_som_skal_faktureres)
                    </td>
                    <td class="col-sm-1">
                        @Html.DisplayFor(modelItem => item.c_o_adresse_for_SIM_levering)
                    </td>
                    <td class="col-sm-1">
                        @Html.DisplayFor(modelItem => item.Gateadresse_SIM_Skal_sendes_til)
                    </td>
                    <td class="col-sm-1">
                        @Html.DisplayFor(modelItem => item.Hus_nummer)
                    </td>
                    <td class="col-sm-1">
                        @Html.DisplayFor(modelItem => item.Hus_bokstav)
                    </td>
                    <td class="col-sm-1">
                        @Html.DisplayFor(modelItem => item.post_nr_)
                    </td>
                    <td class="col-sm-1">
                        @Html.DisplayFor(modelItem => item.Post_sted)
                    </td>
                    <td class="col-sm-1" style="color:darkblue; font-style:italic;font-weight: bold;">
                        @Html.DisplayFor(modelItem => item.Epost_for_sporings_informasjon)
                    </td>
                    <td class="col-sm-1" style="color:darkblue; font-style:italic;font-weight: bold;">
                        @Html.DisplayFor(modelItem => item.Epost)
                    </td>
                    <td class="col-sm-1">
                        @Html.DisplayFor(modelItem => item.Tilleggsinfo_ansatt_ID)
                    </td>
                    <td class="col-sm-1">
                        @Html.DisplayFor(modelItem => item.Ekstra_talesim_)
                    </td>
                    <td class="col-sm-1">
                        @Html.DisplayFor(modelItem => item.Ekstra_datasim)
                    </td>
                    <td class="col-sm-1">
                        @Html.DisplayFor(modelItem => item.Fakturaoppsett.NavnPaKostnadssted)
                    </td>
                    <td style="background-color: azure; font-style: italic; font-size: 15px;" class="col-sm-2">
                        <div style="display:flex; align-items:stretch;">
                            <button class="btn-primary btn-group-sm shadow-lg button" data-toggle="tooltip" data-placement="bottom" title="Ved å klikke på denne knappen kan du oppdatere informasjon i valgt rad"
                                    onclick="location.href = '@Url.Action("Edit", "Nummers", new {id = item.ID})'">
                                <span class="glyphicon glyphicon-pencil"></span>

                            </button>
                            <button class="btn-danger btn-group-sm shadow-lg button" data-toggle="tooltip" data-placement="bottom" title="Ved å klikke på denne knappen kan du slette valgt rad"
                                    onclick="location.href = '@Url.Action("Delete", "Nummers", new {id = item.ID})'">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            }
            </tbody>
        </table>
        <br/>
        @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("Index",
            new {page, currentFilter = ViewBag.CurrentFilter}))

    </div>
</div>



