@model PagedList.IPagedList<TeliaMVC.Models.Nummer>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


@{
    ViewBag.Title = "Forside";
    if (Session["Id"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}

<style>
    hr {
        border: 0;
        height: 3px;
        background-image: linear-gradient(to right, azure,pink, purple, pink,azure);
        box-shadow: 0 10px 10px -10px purple inset;
    }

    .ButtonBack {
        background-color: darkred;
        font-size: medium;
        margin-left:10px;
        margin-top:5px;
        font-weight: bold;
        color: white;
        padding: 7px 10px;
        border-radius: 16px;
        border-color: transparent;
        text-shadow: 1px 1px black;
        box-shadow: 0 8px 14px 0 rgba(0,0,0,0.24), 0 13px 30px 0 rgba(0,0,0,0.19);
    }

        .ButtonBack:hover {
            color: white;
            background-color: red;
            box-shadow: 0 13px 18px 0 rgb(200, 0, 0), 0 16px 45px 0 rgba(0,0,0,0.19);
        }

        .ButtonBack:active {
            transform: translateY(+2px);
            background-color: darkred;
        }

    .inputRadio {
        border-radius: 10px;
        box-shadow: inset 0 1px 1px hsla(0,0%,100%,.8), 0 0 0 1px hsla(0,0%,0%,.6), 0 2px 3px hsla(0,0%,0%,.6), 0 4px 3px hsla(0,0%,0%,.4), 0 6px 6px hsla(0,0%,0%,.2), 0 10px 6px hsla(0,0%,0%,.2);
        cursor: pointer;
        display: inline-block;
        height: 15px;
        margin-right: 16px;
        position: relative;
        width: 15px;
        -webkit-appearance: none;
    }

    .button {
        border-radius: 6px;
        margin: 1px;
    }

    .inputRadio:hover {
        background-color: #c86cf9;
    }

    .inputRadio:checked {
        background-color: #990ae4;
    }

    .ButtonCreate {
        background-color: #990AE4;
        font-size: medium;
        font-weight: bold;
        color: white;
        padding: 6px 10px;
        border: solid 1px black;
        border-radius: 16px;
        border-color: transparent;
        text-shadow: 1px 1px black;
        box-shadow: 1px 8px 15px 0 rgba(0,0,0,0.27), 0 14px 30px 0 rgba(0,0,0,0.19);
    }

        .ButtonCreate:hover {
            color: white;
            background-color: purple;
            box-shadow: 0 13px 18px 0 #990AE4, 0 16px 45px 0 rgba(0,0,0,0.21);
        }

        .ButtonCreate:active {
            transform: translateY(+2px);
            background-color: darkblue;
        }

    .ContainerGreen {
        box-shadow: 2px 2px 1px 3px #b3ffb3;
        margin-bottom: 5px;
    }

    .btnSort {
        background-color: transparent;
        padding-top:2px;
        padding-bottom: 2px;
        padding-left: 3px;
        padding-right: 3px;
    }
</style>




<div style="overflow-x:auto; margin-left:9px; margin-right:10px;" class="shadow">
    <div class="col-sm-4">
        @using (Html.BeginForm("Index", "Nummers", FormMethod.Get, new { id_sesije = ViewBag.ID }))
        {
            <fieldset>
                <legend>Søkealternativer</legend>
                <label class="radio-inline">
                    @Html.RadioButton("SearchParameter", "Telefonnummer", htmlAttributes: new { @class = "inputRadio" })<label>Telefonnummer</label>
                </label>
                <br />
                <label class="radio-inline">
                    @Html.RadioButton("SearchParameter", "Fornavn", htmlAttributes: new { @class = "inputRadio" })<label>Fornavn</label>
                </label>
                <br />
                <label class="radio-inline">
                    @Html.RadioButton("SearchParameter", "Etternavn", htmlAttributes: new { @class = "inputRadio" })<label>Etternavn</label>
                </label>

            </fieldset>
            <div style="display:none;">
                @Html.TextBox("id_sesije", ViewBag.ID as string);
            </div>
            <p style="font-size: medium;font-weight:bold;color:black;margin-left:15px;">
                Søk etter:  @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                <input type="submit" value="Search" class="btn btn-info shadow-lg" style="color: black;font-size: medium;border-radius: 14px;" />
            </p>
            <button class=" ButtonCreate " data-toggle="tooltip" data-placement="bottom" title="Hvis du klikker på denne knappen, kan du legge til ny informasjon om bruker lsit" onclick="location.href = '@Url.Action("Index", "Nummers",new { id_sesije = ViewBag.ID })'">
                <span class="glyphicon glyphicon-repeat"></span>   Refresh
            </button>
            <br />
        }
    </div>
    <div class="col-sm-6">
        <div class="row">
            <fieldset>
                <legend>
                    Angi bestemt type tall
                </legend>
                <div class="row">
                    <div class="col-lg-8" style="flex-direction:row">
                        <div class="col-md-6" style="margin-bottom: 5px;">
                            <button class="ButtonCreate shadow-lg" data-toggle="tooltip" data-placement="bottom"
                                    title="Skriv inn mobilnummeret ditt "
                                    onclick="location.href = '@Url.Action("Create", "Nummers",new { sesija = ViewBag.ID })'">
                                <span class="glyphicon glyphicon-phone"></span> Telefonnummer
                            </button>
                            @using (Html.BeginForm("Excel", "Nummers", FormMethod.Post, new { id_sesija = ViewBag.ID, enctype = "multipart/form-data" }))
                            {
                                <div style="display:none;">
                                    @Html.TextBox("id_sesije", ViewBag.ID as string);
                                </div>
                                @Html.Raw(ViewBag.Error)
                                <input type="file" name="excelfile" class="ButtonCreate shadow-lg" />
                                <button class="ButtonCreate shadow-lg" title="Denne knappen oppretter Excell-fil på datamaskinen, slik at du kan fylle den med data"
                                        onclick="location.href = '@Url.Action("Excel", "Nummers",new { id_sesija = ViewBag.ID })'">
                                    <span class="glyphicon glyphicon-import"></span>Importer excel-fil
                                </button>
                            }
                            <button class="ButtonCreate shadow-lg" data-toggle="tooltip" data-placement="bottom"
                                    title="Denne knappen oppretter Excell-fil på datamaskinen, slik at du kan fylle den med data"
                                    onclick="location.href = '@Url.Action("Export", "Nummers")'">
                                <span class="glyphicon glyphicon-download"></span> Create Excell
                            </button>
                        </div>

                    </div>
                    <div class="col-md-8" style="margin-bottom: 5px;">
                        <button class="ButtonCreate shadow-lg" data-toggle="tooltip" data-placement="bottom"
                                title="Angi et fasttelefonnummer. Dette nummeret er tillatt for alle klienter å angi."
                                onclick="location.href = '@Url.Action("CreateFixed", "Nummers",new { sesija = ViewBag.ID })'">
                            <span class="glyphicon glyphicon-phone-alt"><br /></span> Fixed
                        </button>
                    </div>

                    <div class="col-md-6" style="margin-bottom: 5px;">
                        <button class="ButtonCreate shadow-lg" data-toggle="tooltip" data-placement="bottom"
                                title="Skriv inn internettnummeret , som har en regel som starter på 58 og har 12 sifre"
                                onclick="location.href = '@Url.Action("CreateInternet", "Nummers",new { sesija = ViewBag.ID })'">
                            <span class="glyphicon glyphicon-globe"></span> InternetNummer
                        </button>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <!--
        <div class="col-sm-4">
            <fieldset>
                <legend>
                    Instruksjoner for bruk av Excell-filer
                </legend>
                <div class="col-md-6 " style="margin-bottom: 5px;">
                    <p>Opprett fil som data skal lastes inn i</p>
                    <button class="ButtonCreate shadow-lg" data-toggle="tooltip" data-placement="bottom"
                            title="Denne knappen oppretter Excell-fil på datamaskinen, slik at du kan fylle den med data"
                            onclick="location.href = '@Url.Action("Export", "Nummers")'">
                        <span class="glyphicon glyphicon-download"></span> Create Excell
                    </button>
                </div>
                <div class="col-md-6 " style="margin-bottom: 5px;">
                    <p>Last inn dataene fra Excel-filen</p>
                    @using (Html.BeginForm("Excel", "Nummers", FormMethod.Post, new { id_sesija = ViewBag.ID, enctype = "multipart/form-data" }))
                    {
                        <div style="display:none;">
                            @Html.TextBox("id_sesije", ViewBag.ID as string);
                        </div>
                        @Html.Raw(ViewBag.Error)
                        <input type="file" name="excelfile" class="ButtonCreate shadow-lg" />
                        <button class="ButtonCreate shadow-lg" title="Denne knappen oppretter Excell-fil på datamaskinen, slik at du kan fylle den med data"
                                onclick="location.href = '@Url.Action("Excel", "Nummers",new { id_sesija = ViewBag.ID })'">
                            <span class="glyphicon glyphicon-import"></span>Importer excel-fil
                        </button>
                    }
                </div>
            </fieldset>
        </div>
    -->
</div>

<div style="overflow-x: auto; margin-left: 6px; margin-right: 15px;" class="shadow">
    <table class="table-bordered table-sm table-hover table-striped " style="font-size: 14px;font-weight: bold;color:black;table-layout:fixed;border-radius: 5px;">
        <thead style="background-color: #990AE4;
                      color: white;
                      text-shadow: 1px 1px black;">
            <tr>
                <th class="col-sm-2">         E / D</th>
                <th class="col-sm-2">
                    Telefonnummer
                    <button class="btn btn-sm btnSort" onclick="location.href = '@Url.Action("Index", "Nummers",new { sortOrder = ViewBag.Telefonnummer, currentFilter = ViewBag.CurrentFilter, id_sesije = ViewBag.ID })'">
                        <span class="glyphicon glyphicon-sort"></span>
                    </button>
                </th>
                <th scope="row" class="col-sm-2">
                    Abonnementstype
                    <button class="btn btn-sm btnSort" onclick="location.href = '@Url.Action("Index", "Nummers",new { sortOrder = ViewBag.Abonnementstype, currentFilter = ViewBag.CurrentFilter, id_sesije = ViewBag.ID })'">
                        <span class="glyphicon glyphicon-sort-by-alphabet"></span>
                    </button>
                </th>
                <th class="col-sm-2">
                    Fornavn
                    <button class="btn btn-sm btnSort" onclick="location.href = '@Url.Action("Index", "Nummers",new { sortOrder = ViewBag.FornavnSortParm, currentFilter = ViewBag.CurrentFilter, id_sesije = ViewBag.ID })'">
                        <span class="glyphicon glyphicon-sort-by-alphabet"></span>
                    </button>
                </th>
                <th class="col-sm-2">
                    Etternavn
                    <button class="btn btn-sm btnSort" onclick="location.href = '@Url.Action("Index", "Nummers",new { sortOrder = ViewBag.EtternavnSortParm, currentFilter = ViewBag.CurrentFilter, id_sesije = ViewBag.ID })'">
                        <span class="glyphicon glyphicon-sort-by-alphabet"></span>
                    </button>
                </th>
                <th class="col-sm-2">
                    Bedrift
                    <button class="btn btn-sm btnSort" onclick="location.href = '@Url.Action("Index", "Nummers",new { sortOrder = ViewBag.Bedrift_som_skal_faktureresSortParm, currentFilter = ViewBag.CurrentFilter , id_sesije = ViewBag.ID})'">
                        <span class="glyphicon glyphicon-sort-by-alphabet"></span>
                    </button>
                </th>
                <th class="col-sm-2">
                    c_o_adresse
                    <button class="btn btn-sm btnSort" style="background-color:transparent; padding:4px;" onclick="location.href='@Url.Action("Index", "Nummers",new { sortOrder = ViewBag.c_o_adresse_for_SIM_leveringSortParm, currentFilter = ViewBag.CurrentFilter , id_sesije = ViewBag.ID})'">
                        <span class="glyphicon glyphicon-sort-by-alphabet"></span>
                    </button>
                </th>
                <th class="col-sm-2">
                    Gateadresse_SIM
                    <button class="btn btn-sm btnSort" onclick="location.href = '@Url.Action("Index", "Nummers",new { sortOrder = ViewBag.Gateadresse_SIM_Skal_sendes_tilSortParm, currentFilter = ViewBag.CurrentFilter, id_sesije = ViewBag.ID })'">
                        <span class="glyphicon glyphicon-sort-by-alphabet"></span>
                    </button>
                </th>
                <th class="col-sm-2">
                    Hus nummer
                    <button class="btn btn-sm btnSort" onclick="location.href = '@Url.Action("Index", "Nummers",new { sortOrder = ViewBag.Hus_nummerSortParm, currentFilter = ViewBag.CurrentFilter, id_sesije = ViewBag.ID })'">
                        <span class="glyphicon glyphicon-sort-by-alphabet"></span>
                    </button>
                </th>
                <th class="col-sm-2">
                    Hus bokstav
                    <button class="btn btn-sm btnSort" onclick="location.href = '@Url.Action("Index", "Nummers",new { sortOrder = ViewBag.Hus_bokstavSortParm, currentFilter = ViewBag.CurrentFilter, id_sesije = ViewBag.ID })'">
                        <span class="glyphicon glyphicon-sort-by-alphabet"></span>
                    </button>
                </th>
                <!--
    <th class="col-sm-2">
        post_nr_
        <button class="btn btn-sm btnSort" onclick="location.href = '@Url.Action("Index", "Nummers",new { sortOrder = ViewBag.post_nr_SortParm, currentFilter = ViewBag.CurrentFilter , id_sesije = ViewBag.ID})'">
            <span class="glyphicon glyphicon-sort-by-alphabet"></span>
        </button>
    </th>
        -->
                <th class="col-sm-2">
                    Post_sted
                    <button class="btn btn-sm btnSort" onclick="location.href = '@Url.Action("Index", "Nummers",new { sortOrder = ViewBag.Post_stedSortParm, currentFilter = ViewBag.CurrentFilter, id_sesije = ViewBag.ID })'">
                        <span class="glyphicon glyphicon-sort-by-alphabet"></span>
                    </button>
                </th>
                <th class="col-sm-2">
                    Epost_for_sporings_informasjon
                </th>
                <th class="col-sm-2">
                    Epost
                </th>
                <th class="col-sm-2">
                    Tilleggsinfo_ansatt_ID
                </th>
                <th class="col-sm-2">
                    Ekstra_talesim_
                    <button class="btn btn-sm btnSort" onclick="location.href = '@Url.Action("Index", "Nummers",new { sortOrder = ViewBag.Ekstra_talesimSortParm, currentFilter = ViewBag.CurrentFilter, id_sesije = ViewBag.ID })'">
                        <span class="glyphicon glyphicon-sort-by-alphabet"></span>
                    </button>
                </th>
                <th class="col-sm-2">
                    Ekstra_datasim
                    <button class="btn btn-sm btnSort" onclick="location.href = '@Url.Action("Index", "Nummers",new { sortOrder = ViewBag.Ekstra_datasimSortParm, currentFilter = ViewBag.CurrentFilter , id_sesije = ViewBag.ID})'">
                        <span class="glyphicon glyphicon-sort-by-alphabet"></span>
                    </button>
                </th>
                <th class="col-sm-2">
                    Kostnadssted
                </th>

            </tr>
        </thead>
        <tbody style=" color: black; font-size: 12px;">
            @if (Model.Count() == 0)
            {
                <tr>
                    <td coldspan="10" style="font-size:18px;color:red;margin-left:5px;">
                        No document found
                    </td>
                </tr>
            }
            else
            {
                foreach (var item in Model)
                {
        <tr>
            <td style="background-color: azure; font-style: italic; font-size: 15px;" class="col-sm-2">
                <div style="display:flex; align-items:stretch;">
                    <button class="btn-primary btn-group-sm shadow-lg button" data-toggle="tooltip" data-placement="bottom" title="Ved å klikke på denne knappen kan du oppdatere informasjon i valgt rad"
                            onclick="location.href = '@Url.Action("Edit", "Nummers", new { id = item.ID })'">
                        <span class="glyphicon glyphicon-pencil"></span>

                    </button>
                    <button class="btn-danger btn-group-sm shadow-lg button" data-toggle="tooltip" data-placement="bottom" title="Ved å klikke på denne knappen kan du slette valgt rad"
                            onclick="location.href = '@Url.Action("Delete", "Nummers", new { id = item.ID })'">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
            </td>
            <td class="col-sm-1">
                @Html.DisplayFor(modelItem => item.Telefonnummer)
            </td>
            <td class="col-sm-1">
                @Html.DisplayFor(modelItem => item.Abonnementstype)
            </td>
            <td class="col-sm-1">
                @Html.DisplayFor(modelItem => item.Fornavn)
            </td>
            <td class="col-sm-1">
                @Html.DisplayFor(modelItem => item.Etternavn)
            </td>
            <td class="col-sm-1">
                @Html.DisplayFor(modelItem => item.Bedrift_som_skal_faktureres)
            </td>
            <td class="col-sm-1">
                @Html.DisplayFor(modelItem => item.c_o_adresse_for_SIM_levering)
            </td>
            <td class="col-sm-1">
                @Html.DisplayFor(modelItem => item.Gateadresse_SIM_Skal_sendes_til)
            </td>
            <td class="col-sm-1">
                @Html.DisplayFor(modelItem => item.Hus_nummer)
            </td>
            <td class="col-sm-1">
                @Html.DisplayFor(modelItem => item.Hus_bokstav)
            </td>
            <!--
    <td class="col-sm-1">
        @Html.DisplayFor(modelItem => item.post_nr_)
    </td>
        -->
            @if (item.Post_sted == "Feil postnummer")
            {
                <td class="col-sm-1" style="background-color: red;color:white;">
                    @Html.DisplayFor(modelItem => item.Post_sted)
                </td>
            }
            else
            {
                <td class="col-sm-1">
                    @Html.DisplayFor(modelItem => item.Post_sted)
                </td>
            }



            <td class="col-sm-1" style="color:darkblue; font-style:italic;font-weight: bold;">
                @Html.DisplayFor(modelItem => item.Epost_for_sporings_informasjon)
            </td>
            <td class="col-sm-1" style="color:darkblue; font-style:italic;font-weight: bold;">
                @Html.DisplayFor(modelItem => item.Epost)
            </td>
            <td class="col-sm-1">
                @Html.DisplayFor(modelItem => item.Tilleggsinfo_ansatt_ID)
            </td>
            <td class="col-sm-1" style="background-color: #F9B3A7;">
                @Html.DisplayFor(modelItem => item.Ekstra_talesim_)
            </td>
            <td class="col-sm-1" style="background-color: #F9B3A7;">
                @Html.DisplayFor(modelItem => item.Ekstra_datasim)
            </td>
            <td class="col-sm-1">
                @Html.DisplayFor(modelItem => item.Fakturaoppsett.NavnPaKostnadssted)
            </td>

        </tr>
                }
            }
        </tbody>
    </table>

    <br />
    @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, id_sesije = ViewBag.ID }))
</div>
<button class=" ButtonBack" onclick="location.href = '@Url.Action("Index", "HomeClient", new { id=ViewBag.ID })';return false;"><span class="glyphicon glyphicon-arrow-left"></span>  Tilbake</button>



